@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

#root {
  margin: 0 auto;
}

.react-multi-carousel-track {
  margin: 5rem;
}

.react-multi-carousel-list {
  position: static;
}
