@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&family=Jersey+20&display=swap");

#root {
  margin: 0 auto;
}

.react-multi-carousel-track {
  margin: 5rem;
}

.react-multi-carousel-list {
  position: static;
}
